
<!DOCTYPE html>
<html>
<title>Welcome</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 
{   font-family: "Lato", sans-serif;}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar-->
<div class="w3-top">
    <div class="w3-bar w3-grey w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-8 w3-hover-white w3-large w3-red" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <img style="display:inline" src="elogocut.png" width="127" height="47" alt="bbc news special" />
    </div>
</div>

<!-- Header -->
<header class="w3-container w3-padding-48 w3-light-grey w3-center">
  <img style="display:inline" src="elogo.png" width="180" height="270" alt="bbc news special" />
  <h2> Get your E-ids (including e-Driving License, e-RC and other legal documents) verified by the Government of India</h2>
</header>

<!-- First Grid -->
<div class="w3-center w3-row-padding w3-padding-64 w3-container w3-container ">
  <div class="w3-content w3-center">
    <div class="w3-third w3-left">
       <img style="display:inline" src="dlpic.jpg" width="305" height="200" alt="bbc news special" />
      <h1><strong>e-Driving License</strong></h1>

      <h5 class="w3-padding-32">A feature that will enable its user to avail a digitalised copy of their driving license, assuring full authencity as per rules of Govt. of India. </h5>
      

  
      <button class="w3-center w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="/login">Apply</a></button>
  
  </div>
</div>
    <div class="w3-content w3-center">
      <div class="w3-third w3-right">
         <img style= "display:inline" src="rc.jpg" width="290" height="210" alt="bbc news special" />
                 <h1><strong>e-RC</strong></h1>
                 
              
        <h5 class="w3-padding-32"> A feature that will enable its user to avail the digitalised copy of their Registration Book, assuring full authencity as per rules of Govt. of India.</h5>

  
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="#">Apply</a></button>
    
    </div>
  </div>
  </div>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live a secured life.</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity"> 
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp">e-Pehchaan</a></p>
</footer>

</body>
</html>
