<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">
  
<header class="w3-container w3-light-grey w3-center">
  <img style="display:inline" src="elogo.png" width="150" height="150" alt="bbc news special" />

</header>
                <div class="w3-col l6 m8 w3-display-middle">
                  <div class="w3-container w3-black ">
                    <h2><i class="fa fa-black w3-opacity w3-center"></i>APPLY HERE</h2>
                  </div>
                  <div class="w3-container w3-white w3-opacity w3-padding-16">
                    <form action="/sendOtp" method = "POST" >
                      <div class="w3-row-padding" style="margin:0 -16px;">

                        <div class="w3-center">
                          <label><i class="fa fa-calendar-o"></i> Phone Number </label>
                          <input class="w3-input w3-border" type="text" placeholder="Phone Number" name="pno" required>
                        </div>
                      </div>
                      <div class="w3-row-padding" style="margin:8px -16px;">
                        <div class="w3-margin-bottom w3-center">
                          <label><i class="fa fa-male"></i> Name </label>
                          <input class="w3-input w3-border" type="text" placeholder="Your Name Please" name="CheckOut">
                        </div>
                      </div>
                      <div class="w3-center">
                      <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search"></i> Get OTP</button>
                    </div>
                    </form>
                  </div>
                </div>
          
              </body>

              </html>